[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "reproducr"]
	path = reproducr
	url = https://github.com/repro-stats/reproducr
